body {
    background: aliceblue;
    padding:0;
    margin:0;
}

.top-bar{
  
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0.5%;
    border-color: grey;
    border-bottom-style: solid;
    border-width: 0.5px;
   
    

    
}


.top-bar button {
    background-color: #146fe6;
    border: none;
    border-radius: 5px;
    color: white;
    height: 100%;
    width: 15vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    

}

.top-bar form{
    height: 100%;
}
.search-bar input{
    display: inline;
    height: 100%;
    border: none;
    background-color: aliceblue;
  
  
}

.search-bar input[type=text]{
    border-radius: 5px 0 0 5px;
   
}

.search-bar input[type=submit]{
    border-radius: 0 5px 5px 0;
    
}

.search-bar input[type=text]:focus{
    border:none;
    outline:none;
   

}

    
.wrapper .sidebar {
    
    float: left;
   

    background: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;
   
}

.video{
    margin-top: 5px;
    height:30vh;
}

.videoDiv{
    text-align: center;
}
.messages{
    width: 100%;
    padding-right: 4vw;
    padding-left: 1vw;
    overflow-y: scroll;
    position:fixed;
    bottom: 10vh;
    
    
   
   
  
    
    
   
    float:left;
    height: 50vh;
   
}


.messages ul {
    margin-top: 1vh;
    
   
    list-style: none;
}

li {
    list-style: none;
}

.messages ul li {
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.messageBox{
    
    
    bottom: 10px;
    position: absolute;
    padding-left:4vw;
    padding-right: 4vw;
    
    bottom: 0;
    width: 100%;
  
    padding-bottom: 30px;
    
  
    

    
  
}

.messageBox input {
    margin-top: 2%;
    display: inline;
}

.messageBox input {
    height: 6vh;
    border: none;
}
.messageBox input[type=text]{
    width: 90%;
    border-radius: 5px 0 0 5px;
  
}

.messageBox input[type=text]:focus{
    outline:none;
  
}
.messageBox input[type=submit]{
    width:10%;
    border-radius: 0 5px 5px 0;
}



.realm{
    
    
    width: 120px;
    text-align: center;

}

.btn {
    width: 130px;
}

.message-item{
    padding: 1%;
    border-radius: 5px;
}
.message-item-header{
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    padding: 0;
   

}

.message-item-name{
    font-weight: 700;
}



.message-item-body p {
    font-size: 1rem;
    font-weight: 300;
 
    margin-top: 0;
}
.message-item-body{
    padding:0;
  
   
}

.message-item-time {

   
    font-style: italic;
    font-size: small;
}

.message-item{
    background-color: white;
    min-height: 70px;

}

.messages::-webkit-scrollbar {
    display: none;
}

@media only screen and (orientation: landscape) {
    .videoDiv{
    
    
        width: 70vw;
        height: 100%;
    
        
    }
    .video{
       
        display: block;
        margin-left: 2vw;
        margin-top: 5vh;
        width: 70vw;
        height: 80vh;
    }

    .messages {
        width: 30vw;
        height: 80%;
        position: absolute;
        right: 0;
        padding-right: 10px;
    }

    .messageBox {
        
        position: absolute;
        right: 0;
        width: 30%;
        height: 10%;
        padding-right:1vw;
  
    }

    .messageBox input[type=text]{
        width: 70%;
        border-radius: 5px 0 0 5px;
      
      
    }

    .messageBox input[type=submit]{
        width:30%;
        border-radius: 0 5px 5px 0;
    }
    



   

}






